.boton-clear{
	align-items: center;
	background-color: #ac0246;
	border: 2px solid white;
	border-radius: 45px;
	color: white;
	cursor: pointer;
	display: flex;
	flex: 1;
	font-size: 1.6em;
	font-weight: bold;
	height: 80px;
	justify-content: center;
	margin-top: 8px;
	user-select: none;
}

.boton-clear:hover{
	background-color: #ebb000;
}